:root {
  --yellow-text: #fed136; // this is the color that changes yellow text based on the color picker
  --blue-text: #0144d5; // this is the color that changes blue text based on the color picker
  --white-text: #fff; // this is the color that changes white text based on the color picker
  --light-blue-text: #bed2fe; // this is the color that changes white text based on the color picker
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
@mixin breakpoint($size) {
  @if $size == small-phone-only {
    @media (max-width: 330px) {
      @content;
    }
  }
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 768px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

#alert-dialog-slide-description {
  font-size: 2rem;
}

.moduleContainer {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 10px;
}
.Match-Lobby {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.matchLobbyTable {
  border-collapse: collapse;
  width: 100%;
  th {
    border: 1px;
    text-align: center;
    padding: 8px;
    font-size: 32px;
    background-color: white;
  }
  td {
    border: 1px;
    text-align: center;
    padding: 8px;
    font-size: 32px;
  }
}

.tictactoe {
  &__team {
    color: rgb(83, 83, 218);
  }
  &__opposing {
    color: rgb(252, 162, 102);
  }
}

.teamMember {
  background-color: rgb(83, 83, 218);
  color: white;
  font-weight: 500;
}
.opposingMember {
  background-color: rgb(252, 162, 102);
  color: black;
  font-weight: 500;
}

.spinner {
  margin: 10rem 0;
  border: 0.5rem solid #fed135; /* Light grey */
  border-top: 0.5rem solid #3d3d3d; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}
.spinner-small {
  margin: 10rem 0;
  border: 0.5rem solid #fed135; /* Light grey */
  border-top: 0.5rem solid #3d3d3d; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.link-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
}

.link {
  text-decoration: underline;
  padding-right: 10px;
  padding-left: 10px;
}

.link-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gridApplicants {
  margin-bottom: 2rem;
}

.gridApplicants-content > * + * {
  padding: 1rem 2rem !important;
  border-top: 1px solid #d9d9d9 !important;
}
.candidate {
  &__form__group {
    padding-left: 0;
  }
  &__key__container {
    margin-top: 10.05rem;
    display: flex;
    padding: 2px;
    background-color: #3d3d3d;
    color: white;
  }
  &__key__col {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    width: 10rem;
  }
  &__image {
    height: 10rem;
    background-color: #e4e4e4;
    border-radius: 20px 20px 0 0;
    width: 9.5rem;
    background-size: 200px;
    background-position: center;
  }
  &__image_container {
    background-color: #e4e4e4;
    border-radius: 20px 20px 0 0;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  &__container {
    display: flex;
    padding: 3px;
  }
  &__col {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 20px 20px 0 0;
    width: 10rem;
  }
  &__data {
    padding: 10px;
  }
}

.analysis {
  &__rejection {
    color: red;
  }
  &__checkbox {
    margin-top: 2rem;
    margin-left: -12rem;
  }
  &__questions {
    padding: 0 0 25px 0;
  }
  &__question {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    /* height: 3rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 20px 20px 20px 20px;
    width: 20rem;
  }
}

.link-component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
}

.link {
  text-decoration: underline;
  padding-right: 10px;
  padding-left: 10px;
}

.link-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}

.playthrough__sentence__imagine {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.decision {
  display: flex;
  justify-content: center;

  fieldset {
    margin: 10px 5px 0px 5px;
    border: #484848;
    border-style: solid;
    border-radius: 20px;
    background-color: #e4e4e4;
  }

  /* Hide default radio */
  &__radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: -1;
  }

  /* Customizing label */
  &__radio label {
    margin: 0;
    position: relative;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.15);
    }
  }

  &__radio label,
  .radio label::before {
    -webkit-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }

  /* Checked toggle */
  &__radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: -1;
    + label::before {
      border-radius: 1em;
    }
    &:checked + .primary {
      background-color: #a1ffb7;
      color: #0c3515;
      z-index: 1;
    }
    &:checked + .secondary {
      background-color: #a05c62;
      color: #fff562;
      z-index: 1;
    }
    &:checked + label {
      padding: 5px 15px 5px 15px;
    }
  }
  &__radio label {
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__radio label,
  .radio label::before {
    -webkit-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }
  &__radio:hover input[type="radio"]:checked + label {
    -webkit-box-shadow: #48484843 0px 0px 0px 5px;
    box-shadow: #48484843 0px 0px 0px 5px;
  }
}

.recommendation {
  padding: 10px;

  &__center {
    text-align: -webkit-center;
  }

  &__card {
    width: 100%;
    max-width: 150px;
    height: 60px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
  }
  &__img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 750;
    border-radius: 10px;
    color: white;
    background: linear-gradient(#9198e5, #712020);
  }
  &__textBox {
    width: calc(100% - 190px);
    margin-left: 10px;
    color: white;
    font-family: "Poppins" sans-serif;
  }
  &__textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__span {
    font-size: 10px;
  }
  &__title {
    color: black;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
  }
  &__title_reject {
    color: #fff562;
    margin-left: -5px;
  }
  &__title_hire {
    color: #0c3515;
  }
  &__reject {
    background-color: #a05c62;
  }
  &__hire {
    background-color: #a1ffb7;
  }
  &__desc {
    font-size: 12px;
    font-weight: lighter;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.analysis {
  &__rejection {
    color: red;
  }
  &__checkbox {
    margin-top: 2rem;
    margin-left: -12rem;
  }
  &__questions {
    padding: 0 0 25px 0;
  }
  &__question {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    /* height: 3rem; */
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 20px 20px 20px 20px;
    width: 20rem;
  }
}

.landingpage {
  &__leftalign {
    text-align: left;
    font-size: 20px;
  }
  &__contact {
    color: #bed2fe;
  }
  &__contact:hover {
    color: #48e3fe;
  }
  &__logos {
    position: relative;
    margin: auto;
  }
  &__logo {
    height: 100px;
  }
  &__pagesection {
    padding: 50px 0 !important;
  }
  &__team {
    display: flex;
    //flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 300px));
    grid-gap: 1rem;
    justify-items: center;
  }

  &__row > div {
    max-width: 90%;
    padding: 0.5rem;
  }
  p {
    font-size: 16px;
  }
}

@keyframes autoplay {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

[data-component="slideshow"] {
  .slide {
    display: none;
    text-align: center;
  }
  .slide:not(:only-child) {
    animation: 12.5s autoplay linear;
  }
  .slide.active {
    //animation: 12.5s autoplay infinite linear;
    //animation: 4s autoplay infinite linear;
    display: block;
  }
}

.limiter__group {
  display: flex;
  justify-content: flex-start;
}
.limiter__page {
  font-size: 14px;
  width: max-content;
  margin-left: 5px;
  margin-right: 5px;
}
.limiter__group__button {
  margin-left: 15px;
  margin-right: 15px;
}

.citation {
  background-clip: content-box;
  min-width: 200px;
  // &__caption{
  // 	max-width: 300px;
  // }
  &__name {
    line-height: 115%;
    font-weight: 700;
    margin: 10px 10px 0 10px;
    font-size: 24px;
    font-family:
      "Poppins",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  &__social_media {
    padding: 10px;
  }
  &__social_row {
    display: flex;
    margin-bottom: 10px;
    //max-width:175px;
    @include breakpoint(phone-only) {
      display: list-item;
    }
  }

  // @media(max-width:940px){
  // 	&__social_row{
  // 		display:list-item;
  // 	}
  // }
}

.errorpage {
  h1 {
    //font-style: Bold;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    //padding-top: 40px;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  p {
    font-style: italic;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 25px;
    padding: 75px;
    // padding-top: 75px;
    // padding-bottom: 75px;
  }
  div {
    padding: 40px;
  }
}

header.masthead {
  margin-top: -120px;
  text-align: center;
  color: white;
  //height: auto;
  // link to image: https://unsplash.com/photos/GXEcTqlZHno
  // license: https://unsplash.com/license
  background-image: url("../../images/landingpage/landingpage_hero.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-color: rgb(60, 61, 60);
  box-shadow: inset 0 0 0 2000px rgba(61, 61, 61, 0.4);
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      padding-top: 75px;
      margin-bottom: 25px;
      font-family:
        "Droid Serif",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 25px;
      padding: 0 0 30px 0;
      font-family:
        Poppins,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    }
  }
}

.col-md-4 {
  text-align: left;
  padding: 20px 40px;
  float: right;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 20px;
}
.vertical-line {
  border-left: 1px solid #868e96;
  height: 150px;
  left: 0.5%;
}

.lab-section-subheading {
  padding-bottom: 5px;
  margin-bottom: 40px !important;
}

.thumbnail {
  height: 250px;
}

.service-heading {
  font-weight: 700;
  font-size: 20px;
}
#mainNav {
  height: 93px;
}

a:hover {
  color: #015f6f;
}
.nav-font {
  font-size: 18px;
  margin-top: 0.125rem;
}
a.icon:hover {
  background-color: #fed136 !important;
}
.landingpage h1,
.landingpage h2,
.landingpage h3,
.landingpage h4,
.landingpage h5,
.landingpage h6 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.text-primary {
  color: #fed136;
}

.contact {
  margin: 100px 0px 100px;
}
#connect-text {
  color: var(--yellow-text);
  max-width: 62%;
  margin-left: auto;
  margin-right: auto;
}
#connect-text > a {
  color: var(--light-blue-text);
}
#tell-me-more-btn {
  background-color: #fed136;
  border-color: #fed135;
  color: #404040;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-dialog {
  min-width: fit-content;
}
.modal-main {
  position: fixed;
  background: white;
  width: 45%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.progressBarContainer {
  //min-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.groups {
  display: flex;
  justify-content: space-between;
  &__group {
    padding: 10px 20px;
  }
  &__horiz {
    border-top: 1px solid #dee2e6;
    width: 95%;
  }
  &__button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: auto;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: #f5f5f5;
    transition: background-color 200ms ease-in-out;
  }
  &__groupName {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
  }
  &__date {
    font-size: 14px;
    color: #737373;
  }
  &__instructorName {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: var(--blue-text);
    font-family:
      "Poppins",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  &__create_btn {
    margin-top: 5px;
  }
  &__labs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__bubble {
      border-radius: 0.25rem;
      color: whitesmoke;
      background-color: #0144d5;
      text-align: center;
      //font-weight: bold;
      border: 1px solid #0144d5;
      height: auto;
      margin: 0.5rem;
      padding: 10px 10px;
    }
    &__btn {
      color: black;
      background-color: white;
      text-align: center;
      //font-weight: bold;
      border: 1px solid #0144d5;
      height: auto;
      margin: 0.5rem;
      padding: 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }
  }
}

.progressBar {
  //max-width: 450px;
  //min-width: 450px;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr); /* for 5 equal columns */
  width: 80%;
  height: 10%;

  li,
  button {
    display: table-cell;
    width: 20%;
    height: 20%;
  }

  &__completed {
    border-radius: 0;
    &:hover {
      background-color: #85e085;
    }
    &:focus {
      background-color: #85e085;
    }
    &:active {
      background-color: #85e085;
    }
    border: solid 1px #14ff00;
    background-color: #14ff00;
  }
  &__notCompleted {
    border-radius: 0;
    &:hover {
      background-color: #d9d9d9;
    }
    &:focus {
      background-color: #d9d9d9;
    }
    &:active {
      background-color: #d9d9d9;
    }
    background-color: transparent;
  }
  &__bar {
    width: 20%;
    margin-right: 3px;
  }
  &__info {
    display: table;
  }
}

.module {
  &__more_info {
    max-width: 750px;
    text-align: left;
  }

  &__lab_col {
    min-width: 10.6rem;
    max-width: 20.6rem;
  }
  &__row {
    display: flex;
    //flex-direction: row;
    justify-content: left;
    text-align: center;
    flex-wrap: wrap;
  }
  &__certificate {
    margin-top: 18px;
  }
  a {
    font-size: 20px;
    color: var(--blue-text);
  }
  &__col {
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }
  @media (max-width: 990px) {
    &__col {
      display: flex;
      min-width: 320px;
      max-width: 480px;
    }
    &__image {
      border-radius: 20px 20px 0 0;
      width: 100%;
    }
    &__profile_image {
      height: 175px;
      width: 175px;
      background-size: 200px;
    }
    &__lab_image {
      height: 18rem;
      width: 175px;
    }
  }
  @media (min-width: 991px) {
    &__image {
      border-radius: 20px 20px 0 0;
    }
    &__profile_image {
      width: 300px;
      height: 300px;
      background-size: 300px;
    }
    &__lab_image {
      height: 10rem;
      width: 20.6rem;
    }
  }
  @media (max-width: 576px) {
    &__col {
      min-width: 150px;
      max-width: 320px;
      min-height: 200px;
    }
    &__profile_image {
      height: 125px;
      width: 125px;
      background-size: 150px;
    }
    &__lab_image {
      height: 10rem;
      width: 3rem;
    }
  }

  &__lab_image {
    background-position: center;
    background-size: 400px;
  }
  &__profile_image {
    background-position: center;
  }
  &__profile_caption {
    margin: auto;
    max-width: 302px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  &__no_labs {
    width: 330px;
    margin: 20px;
    text-align: left;
  }
  &__lab_buttons {
    display: flex;
    justify-content: space-evenly;
  }
  &__lab_title {
    text-align: left;
    min-height: 63px;
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
  }
  &__lab_button {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    height: auto;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: #f5f5f5;
    transition: background-color 200ms ease-in-out;
  }
  &__caption {
    // max-width: fit-content;
    margin: auto;
    min-height: 230px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  &__lab_difficulty {
    background: transparent;
    border: solid black 0.01rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    &_filled {
      background: #0144d5;
      border: solid black 0.01rem;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
    }
  }
  &__bio {
    word-wrap: break-word;
    font-size: 18px;
    min-height: 96px;
    padding: 5px 0 10px 0;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--yellow-text);
    font-family:
      "Poppins",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  // &__primary{
  // 	&:hover{
  // 		background-color: #FFDC5E;
  // 	}
  // 	background-color: var(--yellow-text);
  // 	color:#404040;
  // }
  // &__secondary{
  // 	background-color: #3D3D3D;
  // 	color:white;
  // 	&:hover{
  // 		color:whitesmoke;
  // 		background-color: #4b4b4b;
  // 	}
  // }
}

.app {
  text-align: center;

  &__name {
    font-size: 3.125rem;
  }

  &__instructions {
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    &__black {
      color: #f8f8f2;
      background-color: #272822;
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    }
    &__small {
      max-width: 60rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &__small2 {
      font-size: 1.5rem;
      max-width: 95rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__instructions2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__instructions3 {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    margin-bottom: 2rem;
  }

  &__list {
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    list-style-type: disc;

    > li {
      margin-bottom: 0.5rem;
    }
  }
}
.mainBody {
  padding-top: 4rem;
}
.hoverShadow {
  :hover {
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
.changeFooter {
  margin-top: 50px;
}
p {
  font-size: 16px;
  line-height: 1.75;
}

a {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #4c4c4c;
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}
::selection {
  background: #fed136;
  text-shadow: none;
}

img {
  &::-moz-selection {
    background: 0 0;
  }
  &::selection {
    background: 0 0;
  }
}
a.icon {
  &:hover {
    background-color: #fed136 !important;
  }
}
.text-primary {
  color: #fed136 !important;
}
.btn {
  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 500;
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}
.btn-md {
  font-size: 18px;
  padding: 10px 20px;
  @media (max-width: 990px) {
    font-size: 16px;
    padding: 5px 15px;
  }
}
.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
  color: #404040 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  &:active {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 3px 8px rgba(254, 209, 55, 0.5) !important;
  }
  &:focus {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 3px 8px rgba(254, 209, 55, 0.5) !important;
  }
  &:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: #fff;
  }
}
.btn-second {
  background-color: #484848 !important;
  border-color: #484848 !important;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  &:active {
    background-color: #483f22 !important;
    border-color: #483f22 !important;
    color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(72, 63, 34, 1) !important;
    box-shadow: 0 3px 8px rgba(72, 63, 34, 1) !important;
  }
  &:focus {
    background-color: #483f22 !important;
    border-color: #483f22 !important;
    color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(72, 63, 34, 1) !important;
    box-shadow: 0 3px 8px rgba(72, 63, 34, 1) !important;
  }
  &:hover {
    background-color: #483f22 !important;
    border-color: #483f22 !important;
    color: #fff;
  }
}

.text-black {
  color: #404040;
}

#mainNav {
  background-color: #212529;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  .navbar-brand {
    color: #fed136;
    font-family:
      "Calibri",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    &:active {
      color: #fec503;
    }
    &:focus {
      color: #fec503;
    }
    &:hover {
      color: #fec503;
    }
  }

  .navbar-brand.active {
    color: #fec503;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: #fff;
        font-family:
          Poppins,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          "Noto Color Emoji";
        &:hover {
          color: #fed136;
        }
      }
      .nav-link.active {
        color: #fed136;
      }
    }
  }
}
#mainNav.navbar-shrink {
  background-color: #3d3d3d !important;
}

.p-text-modal {
  padding: 0.5rem;
}
.ml-8 {
  margin-left: 4rem;
}
.list-style-disc {
  list-style-type: disc;
}
.modal-content__header {
  padding: 0.5rem;
  background-color: #fed136;
  text-align: center;
  list-style: none;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  color: #404040 !important;
}

.portfolio-modal {
  padding-right: 0 !important;
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;

    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      font-family:
        "Droid Serif",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #212529;
      .rl {
        z-index: 1052;
        width: 1px;
        height: 75px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: #212529;
      }
    }
  }
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
    &:before {
      display: table;
      content: " ";
    }
    .timeline-panel {
      position: relative;
      float: right;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: #fff;
      border: 7px solid #e9ecef;
      border-radius: 100%;
      background-color: #fed136;
      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  > li.timeline-inverted {
    > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
  }
  .timeline-heading {
    h4 {
      margin-top: 0;
      color: inherit;
    }
    h4.subheading {
      text-transform: none;
    }
  }
  .timeline-body {
    > p {
      margin-bottom: 0;
    }
    > ul {
      margin-bottom: 0;
    }
  }
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
section#contact {
  background-color: #212529;
  // link to image: https://pixelmap.amcharts.com/
  // license: https://www.amcharts.com/javascript-maps/
  background-image: url(../../images/landingpage/map.png);
  background-size: cover;
  background-position: center;
  .section-heading {
    color: var(--white-text);
  }
  .form-group {
    margin-bottom: 25px;
    input {
      padding: 20px;
    }
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control {
    &:focus {
      border-color: #fed136;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  &:-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  &::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  &:-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}
.footer {
  padding-top: 3rem;
  text-align: center;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  ul.quicklinks {
    font-size: 110%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}
ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: #fff;
      border-radius: 100%;
      outline: 0;
      background-color: #212529;
      &:active {
        background-color: #fed136;
      }
      &:focus {
        background-color: #fed136;
      }
      &:hover {
        background-color: #fed136;
      }
    }
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family:
          "Droid Serif",
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          "Noto Color Emoji";
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family:
          Poppins,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          "Noto Color Emoji";
      }
    }
  }
  .timeline {
    &:before {
      left: 50%;
    }
    > li {
      min-height: 100px;
      margin-bottom: 100px;
      .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
      }
      .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
      }
    }
    > li.timeline-inverted {
      > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    //padding-bottom: 25px;
    -webkit-transition:
      padding-top 0.3s,
      padding-bottom 0.3s;
    transition:
      padding-top 0.3s,
      padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
    .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
  .timeline {
    > li {
      min-height: 150px;
      .timeline-panel {
        padding: 0 20px 20px;
      }
      .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
      }
    }
    > li.timeline-inverted {
      > .timeline-panel {
        padding: 0 20px 20px;
      }
    }
  }
}
@media (min-width: 767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}
@media (min-width: 1200px) {
  .timeline {
    > li {
      min-height: 170px;
      .timeline-panel {
        padding: 0 20px 20px 100px;
      }
      .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
        h4 {
          margin-top: 40px;
        }
      }
    }
    > li.timeline-inverted {
      > .timeline-panel {
        padding: 0 100px 20px 20px;
      }
    }
  }
}

section#contact {
  background-color: #3d3d3d !important;
}
ul.social-buttons {
  li {
    a {
      background-color: #3d3d3d !important;
    }
  }
}
hr.horiz {
  border-top: 1px solid #868e96;
  margin: 0 auto;
  width: 50%;
}
.text-muted {
  color: #868e96;
}
.btn-information {
  clear: both;
  float: right;
  margin-bottom: 20px;
  margin-top: 2rem;
}
.btn-change {
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  padding-bottom: 10px;
  border: none;
  float: right;
  clear: both;
}
.line-height-0 {
  line-height: 0;
}
.btn-text {
  background-color: white;
}
.center-div {
  text-align: center;
}
.btn-disabled {
  background-color: lightgrey !important;
  border-color: lightgrey !important;
  margin-left: 5px !important;
  opacity: 0.5;
}
.next {
  // background-color: #fed136;
  // border-color: #fed136;
  color: #404040;
  float: right;
  padding: 15px !important;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  &:disabled {
    background-color: lightgrey !important;
    border-color: lightgrey !important;
    margin-left: 5px !important;
    opacity: 0.5;
  }
}
.back {
  // background-color: #404040;
  // border-color: #404040;
  color: black;
  float: left;
  padding: 15px !important;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.hidden {
  display: none;
}
header.masthead {
  text-align: center;
  color: var(--white-text);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    // padding-top: 150px;
    // padding-bottom: 100px;
    .intro-lead-in {
      font-size: 25px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family:
        "Droid Serif",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 25px;
      font-family:
        Poppins,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    }
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
body {
  background-color: white;
  overflow-x: hidden;
  font-family:
    "Roboto Slab",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
.page-section {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  width: 100%;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
  }
  .margin-top {
    margin-top: 20px;
  }
  h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 35px;
    text-transform: none;
    font-family:
      "Droid Serif",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}
.row {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}
.alumni-row {
  display: flex !important;
  justify-content: center !important;
  margin-top: 15px;
  padding: 5px;
  margin-bottom: -35px;
  text-align: center !important;
}
.leftButton {
  margin-right: 15%;
}
.rightButton {
  margin-left: 0;
}
.logo-container {
  width: 340px;
}
.logo {
  width: 100%;
  height: auto;
}
.labnav {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.no-margin {
  margin: 0 !important;
}
.btn-bottom-buttons {
  border-color: #fed136 !important;
  color: #404040;
  margin-left: 5px;
  &:active {
    background-color: #e9b301 !important;
    border-color: white !important;
    color: #262626 !important;
  }
  &:focus {
    background-color: #e9b301 !important;
    border-color: white !important;
    color: #262626 !important;
  }
  &:hover {
    background-color: #e9b301 !important;
    border-color: white !important;
    color: #262626 !important;
  }
}
.div-style-text {
  padding: 10px 10px 10px 23%;
}
.div-style-bgColor {
  padding: 10px 10px 10px 62%;
}

.bodyHeader {
  transform: translateX(23%);
  z-index: 6754654;
}

.yellowHeaderLine {
  height: 25px;
  border-radius: 25px;
  width: 100%;
}

.blueHeaderLine {
  transform: translateX(13%);
  height: 25px;
  border-radius: 25px;
  width: 80%;
}

.questionContainer {
  transform: translate(40px, -30px) !important;
}

.readingContainer {
  background-color: white !important;
}

.PoppinsNormal {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.rightBlueFooterLine {
  transform: translate(30%, 140%);
  height: 15px;
  border-radius: 25px;
  width: 60%;
  z-index: -4;
}

.rightYellowFooterLine {
  transform: translate(15%, 200%);
  height: 15px;
  border-radius: 25px;
  width: 60%;
  z-index: -5;
}

.leftBlueFooterLine {
  transform: translate(-125%, 140%);
  height: 15px;
  border-radius: 25px;
  width: 60%;
  z-index: -4;
}

.leftYellowFooterLine {
  transform: translate(-110%, 200%);
  height: 15px;
  border-radius: 25px;
  width: 60%;
  z-index: -5;
}

.absoluteTopRightShift {
  transform: translateY(-50%);
}
