.displays {
  display: table-row;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.fileDisplay {
  width: 30%;
  height: fit-content;
  background-color: rgb(236, 236, 236);
  margin-bottom: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 5px;
}
