@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

.fancy-text {
  font-family: "UnifrakturMaguntia", cursive;
  max-width: 70%;
}

.horizontal-bar-styling {
  flex: 0 0 20%;
  height: 2px;
  background-color: black;
}

.diploma-name {
  font-weight: bold;
}
