.exercise {
  &__boxes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";
    grid-gap: 1rem;
  }

  &__countdown {
    font-size: 8rem;
  }

  &__congratulation {
    font-size: 1.5rem;
  }

  &__nav {
    max-width: 8rem;
  }

  &__input {
    max-width: 25rem;
    margin: 0 auto;
  }

  &__submit {
    margin: 0 auto;
    max-width: 8rem;
  }

  &__giveup {
    max-width: 8rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
