.game {
  .game__boxes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";
    grid-gap: 1rem;
  }

  .game__countdown {
    font-size: 8rem;
  }

  .game__congratulation {
    margin-bottom: 5rem;
  }
}
