.game {
  &__boxes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";
    grid-gap: 1rem;
  }

  &__countdown {
    font-size: 8rem;
  }

  &__congratulation {
    font-size: 1.5rem;
  }
}
