@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

.header {
  display: grid;
  min-height: 78px;
  grid-template-columns: 1fr 1fr;
  position:fixed;
  top:0;
  
  &__column {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}

#all-header-text{
  color: #fed136;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.75rem;
  margin-left: -15px;
}

.google__button {
  width: 191px;
  height: 46px;
  display: inline-block;
  background-image: image("./../../images/btn_google_signin_dark_normal_web.png");

  &:not(&--disabled):hover {
    background-image: image("./../../images/btn_google_signin_dark_focus_web.png");
  }

  &:not(&--disabled):active {
    background-image: image("./../../images/btn_google_signin_dark_pressed_web.png");
  }

  &--disabled {
    background-image: image("./../../images/btn_google_signin_dark_disabled_web.png");
    cursor: not-allowed;
  }
}

.welcome {
  display: inline-flex;
  align-items: center;
  @media (min-width: 992px) {
    padding-left: 1rem;
  }
  &__toggle{
    padding:0;
    background-color: transparent;
    border:none;
    border-radius: 50%;
  }
  &__name {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fed136;
    background-color: white;
    text-align: center;
    font-size: 20px;
    border: 1px;
  }
  &__logout {
    display:inline-block;
  }
  &__menu{
    margin-top: 20px;
  }
}

.labnav{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.logo{
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -10px;
  height: 105px;
  width: 105px;
}