.header {
  display: flex;
  min-height: 78px;

  .header__column {
    flex: 50%;
    padding: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  .header__logout {
    font-size: 0.8rem;
    display: block;
  }
}

.google__button {
  width: 191px;
  height: 46px;
  display: inline-block;
  background-image: image("btn_google_signin_dark_normal_web.png");
}

.google__button:hover {
  background-image: image("btn_google_signin_dark_focus_web.png");
}

.google__button:active {
  background-image: image("btn_google_signin_dark_pressed_web.png");
}

.google__button--disabled {
  width: 191px;
  height: 46px;
  display: inline-block;
  background-image: image("btn_google_signin_dark_disabled_web.png");
  pointer-events: not-allowed;
  text-decoration: none;
}
