.hint_box {
  border: 1px solid black;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--open {
    height: 5rem;
  }

  .hint_box__background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    &:hover {
      cursor: pointer;
      background-color: #ddd !important;
    }
  }

  &__warning {
    display: block;
  }
}
