.popup {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 1;

  &__content {
    max-width: 600px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #99f580;
  }

  &__close {
    position: absolute;
    right: 0.75rem;
    font-size: 2rem;
    top: 0;
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
