.scoreTally{
    width: 16%;
    display: inline-flex;
    background-color:rgb(228, 228, 222);
    margin-bottom: 20px;
}

.scoreTallyDetails {
    text-align: left;
    padding: 10%;
}

@media screen and (min-width: 786px) {

    .scoreItemTally {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {

    .scoreItemTally {
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .scoreTally {
        width: 24%;
    }
    .scoreItemTally {
        font-size: 12px;
        padding: 1px;
    }
}
@media screen and (max-width: 767px) {
    .scoreTally {
        width: 30%;
    }
    .scoreItemTally {
        font-size: 12px;
        padding: 1px;
    }
}