.sound_icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: image("./../../images/volume_on.svg");
  background-size: contain;

  &--off {
    background-image: image("./../../images/volume_off.svg");
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.sound_icon-container {
  font-size: 1rem;
  width:300px;
  text-align:center;
  /*text-align: right;*/
  position: relative;
  float:right;
  margin-top:-40px;
  padding-right:22px;
}


.sound_icon__message {
  margin-left: 0.5rem;
}

