.sound_icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: image("./../../images/volume_on.svg");
  background-size: contain;

  &--off {
    background-image: image("./../../images/volume_off.svg");
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.sound_icon-container {
  width: 200px;
  font-size: 1rem;
  align-items: center;
  position: absolute;
  right: 200px;
  top: 100px;
}


.sound_icon__message {
  margin-left: 0.5rem;
}
