.stats {
  background-color: #333333;
  width: 100%;
  color: white;
  left: 0;
  bottom: 0;
  z-index: 2;
  user-select: none;

  &__container {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 1.5rem auto;
  }

  &__category,
  &__result {
    margin: 0 0 0.5rem 0;
    font-size: 1.875rem;
  }

  &__result {
    font-weight: 300;
    font-size: 1.7rem;
  }

  &__timer {
    background-color: white;
  }

  &__countdown {
    background-color: #6bff89;
    width: 100%;
    height: 0.8rem;
    transition: width ease-in;
  }
}
