.paw-print-logo {
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  width: 345.35px;
  height: 318.84px;
  left: 258px;
  top: 266.52px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  mix-blend-mode: exclusion;
  border: 1px solid #00D3D3;
  transform: matrix(0.97, -0.24, 0.29, 0.96, 0, 0);
}
