.exercise-frame {
  background-image: url("../../images/lab8/stream_bg.jpeg");
  /* will change the size back later */
  background-size: cover;
  background-repeat: no-repeat;
  /* // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: -1; */
  position: relative;
}

.chat-room {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  border-radius: 30px;
  border-width: 50px; */
}

.chat-message {
  box-sizing: border-box;
  width: 70%;
  max-width: 500px;
  margin-bottom: 20px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-message-username {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 5px;
}

.chat-user-info {
  /* flex-direction: row; */
  display: inline-flex;
  align-items: center;
}

.chat-user-info-w-message {
  flex: auto;
}

.chat-message-content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.chat-sentiment-box {
  width: 500px;
  max-width: 500px;
  margin-left: 15px;
  margin-bottom: 10px;

  background: rgba(25, 151, 179, 0.47);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.chat-message-sentiment-title {
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: bold;
}

.chat-message-sentiment {
  position: absolute;
  display: flex;
  text-decoration: underline;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.chat-sentiment-score {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

.kr-buttons {
  /* flex-direction: row; */
  display: inline-flex;
  align-items: center;
}

.chat-sentiment-keep,
.chat-sentiment-remove {
  width: 60px;
  height: 20px;
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-sentiment-keep {
  background: rgba(37, 179, 25, 0.5);
}

.chat-sentiment-remove {
  background: rgba(179, 37, 25, 0.5);
}
