/*make sure whole box scales properly decrease size of avatar image. Maybe use margin top to increase distance between avatar image and chat message!  */

.exercise-frame {
  background-image: url("../../images/lab8/Stream_Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.chat-room {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #f1f1f1;
  -webkit-overflow-scrolling: touch;
}

.chat-room::-webkit-scrollbar {
  width: 8px;
}

.chat-room::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.chat-room::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 4px;
}

.chat-room::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}
