.study {
  width: 960px;
  margin: 2rem auto;
  font-size: 1.5rem;

  > h1 {
    margin-bottom: 3rem;
  }

  > h3 {
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  &__list {
    text-align: left;
    list-style-type: disc;

    > li {
      margin-bottom: 1rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    text-align: left;
  }

  p {
    text-align: justify;
    margin-bottom: 3rem;
    font-size: 1.25rem;
  }

  img {
    width: 50%;
  }

  > div {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}
