.guidance{
  font-size: 1.25rem;
  text-align: left;
  ul li {
    display: list-item;
    list-style: disc;
    font-size:1.25rem
  }
  ul {
    padding-left:30px;
  }
  .lowercontent{
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  .next{
    //float:left;
  }
  .flex{
    display:flex;
    float: right;
  }

}