.landingpage{

	&__col{
		margin: 20px;
		position:inherit;
		align-items: center;
		justify-content: left;
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
	}
	@media (max-width:940px) {
		&__col{
			display:flex;
			min-width: 450px;
			max-width: 480px;
		}
		&__image{
			border-radius: 20px 0 0 20px;
			height:auto;
			max-width: 175px;
		}

	}
	@media(min-width:941px){
		&__image{
			border-radius: 20px 20px 0 0;
			max-width: 300px;
			max-height: 300px;
			
		}

	}
	
	&__bio{
		word-wrap: break-word;
		font-size: 20px;
		padding: 5px 0 10px 0;
	}
    &__leftalign{
        text-align: left;
		font-size:20px;
    }
    &__contact{
        color: #bed2fe
    }
    &__contact:hover{
        color:#48e3fe
    }
    &__ritlogo{
        margin-top: 10px; 
        //margin-left: 20px;
    }

    &__logos{
        position: relative;
		margin: auto;
	}
	&__logo{
		height:100px;
	}
	&__pagesection{
		padding: 50px 0 !important;
	}
	// &__lab_title{
	// 	padding-top:5px;
	// 	margin: 0px auto;
	// 	max-width: 250px;
	// 	min-width: 200px;
	// 	text-transform: none;
	// 	font-weight: 750;
	// 	font-size: 28px;
	// 	line-height: 85%;
	// 	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	// }
	// &__lab_desc{
	// 	max-width: 250px;
	// 	min-width: 200px;
	// 	font-style: italic;
	// 	margin: 0px auto;
	// 	word-wrap: break-word;
	// 	font-size: 18px;
	// 	font-weight: 400;
	// 	padding: 5px 0 10px 0;
	// 	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	// }
	&__title{
		font-weight: 700;
		font-size: 24px;
		color: #fed136;
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
	&__row{
		display: flex ;
		//flex-direction: row;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
	}
	a{	
		color: #0144d5;
	}
	p{
		font-size: 16px;
	}

}

@keyframes autoplay {
	0% {
		opacity: 0.0;
	}
	4% {
		opacity: 1.0;
	}
	33.33% {
		opacity: 1.0;
	}
	37.33% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.0;
	}
}

[data-component="slideshow"] {
	.slide {
		display: none;
		text-align: center;
		
	}
	.slide:not(:only-child){
		animation: 12.5s autoplay linear;
	}
	.slide.active {
		//animation: 12.5s autoplay infinite linear;
		//animation: 4s autoplay infinite linear;
		display: block;
	}
}



.citation{
    background-clip: content-box;
	min-width:200px;
	&__name{
		line-height: 115%;
		font-weight: 700;
		margin:10px 10px 0 10px;
		font-size: 28px;
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
	&__social_media{
		padding: 10px;
	}
	&__social_row{
		display:flex;
		margin-bottom: 10px;
		//max-width:175px;
	}
	@media(max-width:940px){
		&__social_row{
			display:list-item;
		}
	}

}

.errorpage{
	h1{
		font-style: Bold;
		font-size: 50px;
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 25px;
		//padding-top: 40px;
		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';	
	}
	p{
		font-style: italic;
		font-size: 25px;
		line-height: 50px;
		margin-bottom: 25px;
		padding:75px;
		// padding-top: 75px;
		// padding-bottom: 75px;
	}
	div{
		padding: 40px;
	}
}

header.masthead {
	margin-top: -120px;
	text-align: center;
	color: white;
	//height: auto;
	background-image: url("../../images/div_head.jpg") !important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(61, 61, 61, 0.4);
	.intro-text {
		padding-top: 150px;
		padding-bottom: 100px;
		.intro-lead-in {
			font-size: 22px;
			font-style: italic;
			line-height: 22px;
			padding-top: 75px;
			margin-bottom: 25px;
			font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
		}
		.intro-heading {
			font-size: 50px;
			font-weight: 700;
			line-height: 50px;
			margin-bottom: 25px;
			padding: 0 0 30px 0;
			font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
		}
	}
}

.col-md-4 {
 	text-align: left;
	padding: 20px 40px;
 	float: right;
	// padding-left: 20px;
	// padding-right: 20px;
	// padding-bottom: 20px;

}
.vertical-line {
	border-left: 1px solid #868e96;
	height: 150px;
	left: .5%;
}

.lab-section-subheading {
	padding-bottom: 5px;
	margin-bottom: 40px !important;
}

.thumbnail {
	height: 250px;
}

.service-heading {
	font-weight: 700;
	font-size: 20px;
}
#mainNav {
	height: 93px;
}

a:hover {
	color: #015f6f;
}
.nav-font{
	font-size: 20px;
}
a.icon:hover {
	background-color: #fed136 !important;
}
.landingpage h1, .landingpage h2, .landingpage h3, .landingpage h4, .landingpage h5, .landingpage h6 {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}

.text-primary {
	color: #fed136;
}

.contact {
	margin: 100px 0px 100px ;
}
#connect-text {
	color: #fed136;
	max-width: 62%;
	margin-left: auto;
	margin-right: auto;
}
#connect-text > a{
	color:#bed2fe
}
#tell-me-more-btn {
	background-color: #fed136;
	border-color: #fed135;
	color: #404040;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #e9b301 !important;
	border-color: white !important;
	color: #262626;
}

