@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fcfcfc;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}