.box {
  border: 3px solid black;
  font-size: 3rem;
  padding: 1rem 2rem;
}

.box--black {
  background-color: black;
  color: white;
}

.box:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.box:active {
  background-color: #333;
}