.box {
  border: 3px solid black;
  font-size: 3rem;
  padding: 1rem 2rem;
}

.box--black {
  background-color: black;
  color: white;
}

.box--red {
  background-color: red;
  cursor: default !important;
}

.box--green {
  background-color: green;
  cursor: default !important;
}

.box:not(.box--red):not(.box--green):hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.box:not(.box--red):not(.box--green):active {
  background-color: #333;
}
