a {
  color: #0144d5;
}

a:hover {
  color: #015f6f;
}

a.icon:hover {
  background-color: #fed136 !important;
}

.text-primary {
  color: #fed136 !important;
}

.btn-primary {
  border-color: #fed136 !important;
  color: #404040 !important;
  margin-left: 15%;
}

.btn-second {
  background-color: #484848 !important;
  border-color: #484848 !important;
  color: white !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #e9b301 !important;
  border-color: white !important;
  color: #262626 !important;
}

#mainNav.navbar-shrink {
  background-color: #3d3d3d !important;
}
.portfolio-modal .close-modal .lr {
  background-color: #3d3d3d !important;
}
.portfolio-modal .close-modal .lr .rl {
  background-color: #3d3d3d !important;
}
section#contact {
  background-color: #3d3d3d !important;
}
ul.social-buttons li a {
  background-color: #3d3d3d !important;
}
hr.horiz {
  border-top: 1px solid #868e96;
  width: 50%;
}
.text-muted {
  color: #868e96;
}

.btn-information{
  clear:both;
  float:right;
  margin-bottom: 20px;
}
.btn-change {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-bottom: 10px;
  border: none;
  float: right;
  clear:both;

}

.btn-text {
  background-color: white;
}

.center-div{
  text-align:center;
}
.btn-disabled{
  background-color: lightgrey !important;
  border-color: lightgrey !important;
  margin-left: 5px !important;
  opacity: .5;
}

.next {
  background-color: #fed136;
  border-color: #fed136;
  color: #404040;
  float: right;
  padding: 8px !important;
}
.next:disabled{
  background-color: lightgrey !important;
  border-color: lightgrey !important;
  margin-left: 5px !important;
  opacity: .5;
}
.back {
  background-color: #404040;
  border-color: #404040;
  color: white;
  float: left;
  padding: 8px !important;
}

.back, .next{
  margin-bottom:10px;
}
.hidden {
  display: none;
}
body {
  background-color: white;
}
.footer {
  margin-top: 5%;
  margin-right: 2%;
}
.row {
  display: block !important;
  justify-content: space-around !important;
  /*margin-top: 50px !important;*/
  margin-bottom: 25px !important;
  text-align: center !important;
}


#mainNav{
  padding-top: 0px;
  padding-bottom: 0px;


}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 100%;


}
#mainNav .navbar-brand {
  font-size: 1.94em;
  justify-content: space-around;

}
.leftButton{
  margin-right:15%
}
.rightButton{
  margin-left: 0%
}
.logo-container{
  width:340px;
}
.logo{
  width:100%;
  height:auto;

}
.labnav{
  padding:0;
}

@media (max-width: 765px) {
  .labcontainer {
    height: auto !important;
  }
}

.labul{
  padding-bottom:15px;

}
.labcontainer {
  height: 95px;
}

.no-margin {
  margin: 0 !important;
}

.logo-container{
  width:350px;
}
.logo{
  width:100%;
  height:auto;
}

.btn-bottom-buttons {
  border-color: #fed136 !important;
  color: #404040 !important;
  margin-left: 5px;
}
.btn-bottom-buttons:active,
.btn-bottom-buttons:focus,
.btn-bottom-buttons:hover {
  background-color: #e9b301 !important;
  border-color: white !important;
  color: #262626 !important;
}
.div-style-text{
   padding: 10px;
   margin-left: 23%;
 }
.div-style-bgColor{
  padding: 10px;
  margin-left: 60%;
}