pre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
pre.code {
  white-space: pre-wrap;
}
pre.code:before {
  counter-reset: listing;
}
pre.code code {
  counter-increment: listing;
}
pre.code code::before {
  content: counter(listing) ". ";
  display: inline;
  color: #606366;
  padding-top: 5px;
}
code {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.boarder{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  code {
    font-size: 20px;
  }
  .boarder {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  code {
    font-size: 18px;
  }
  .boarder {
    font-size: 18px;
  }
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup_inner{
  position: absolute;
  left: 5%;
  top: 10%;
  bottom: 5%;
  right: 10%;
  margin: auto;
  background: rgba(38,38,38,1);
}

.colorSelector{
  position: absolute;
  top: 10%;
  left: 5%;
  margin: auto;
}

.inlineForm{
  color: rgba(0, 204, 255, 1);
  display: flex;
  justify-content: left;
  width: 100%;
}

.mainColor{
  color: #ff66ff;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #2B2B2B;
}

.error{
  display: flex;
  justify-content: center;
  animation-duration: 3s;
  animation-name: errorSign;
  color: rgba(38, 38, 38, 1);
  margin: 0px;
  size: 0px;
}

@keyframes errorSign {
  0% {
    color: white;
    background-color: red;
    size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  50% {
    color: white;
    background-color: red;
    size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  100% {
    color: rgba(38, 38, 38, 1);
    margin: 0px;
    size: 0px;
  }
}

.center{
  display: flex;
  justify-content: center;
}

.tab{
  padding-left: 30px;
}

.form{
  margin-left: 10px;
  height: 30px;
  width: 200px;
  background-color: #1a1a1a;
  color: white;
  border: 0px;
}

.popupArrow{
  height: 10px;
  padding-top: 6px;
  margin-bottom: 0px;
}

.buttonPopup {
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
  width: auto;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .submitColorPopup{
    width: 150px;
    height: 40px;
    font-size: 25px;
    margin-left: 40%;
  }
}

@media (min-width: 1200px) {
  .submitColorPopup{
    width: 150px;
    height: 40px;
    font-size: 25px;
    margin-left: 45%;
  }
}

@media (max-width: 600px) {
  code {
    font-size: 12px;
  }
  .boarder {
    font-size: 12px;
  }
  .form {
    margin-left: 5px;
    height: 10px;
    width: 30px;
  }
  .colorSelector {
    width: 300px;
    height: auto;
  }
}
