.mainTitle {
  text-align: center;
}

.secondTitle {
  text-align: center;
}

.Button {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Button:hover {
  cursor: pointer;
}

.backButton {
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 120px;
  font-size: 30px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backButton:hover {
  cursor: pointer;
}

.deficiencyCheck {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  font-size: 25px;
  padding: 8px;
  padding-bottom: 0px;
  color: white;
  background-color: black;
}

.aboutButton {
  font-size: 16px;
}

.header {
  display: grid;
  min-height: 78px;
  grid-template-columns: 1fr 1fr;
}

.signinButton {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0;
  font-size: 13px;
}

.updateColorButton {
  word-wrap: break-word;
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 120px;
  font-size: 20px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.updateColorButton:hover {
  cursor: pointer;
}

@media (min-width: 1650px) {
  .mainTitle {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .secondTitle {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button {
    font-size: 25px;
  }
  .backButton {
    font-size: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .mainTitle {
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .secondTitle {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 8px;
  }
  .Button {
    font-size: 20px;
  }
  .backButton {
    font-size: 20px;
    margin-top: 0px;
  }
  .deficiencyCheck {
    font-size: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .mainTitle {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .secondTitle {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .Button {
    font-size: 18px;
  }
  .backButton {
    font-size: 18px;
  }
  .deficiencyCheck {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .mainTitle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .secondTitle {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .Button {
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
  .backButton {
    font-size: 12px;
    width: 50px;
    height: auto;
    margin-top: 5px;
  }
  .deficiencyCheck {
    font-size: 12px;
  }
  .signinButton {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: auto;
  }
  .aboutButton {
    font-size: 12px;
  }
  .updateColorButton {
    width: 100px;
    font-size: 12px;
  }
}

.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 25px;
  height: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 1px solid black;
}

.dropdown-content button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown p {
  margin: 0px;
}
