.circle{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.circleClicked{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 65px;
}

.timer{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 10px;
}

.chart {
  width: 500px;
  height: 150px;
  margin-top: 30px;
}

.startTimer{
  font-style: bold;
  font-size: 60px;
}

.arrow {
  width: 120px;
  margin-left: 10px;
}

.replay{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.timeEnd {
  font-size: 25px;
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.replay_screen {
  display: flex;
  justify-content: space-around;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 2px;
  text-align: left;
}

td {
  padding: 3px;
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.left {
  display: flex;
  justify-content: space-around;
}

.prescreen {
  margin-left: 400px;
}

.prescreenText {
  font-size: 20px;
  width: 275px;
}

@media (min-width: 1200px) {
  .prescreen {
    margin-top: 10px;
    margin-left: 635px;
  }
  .prescreenText {
    font-size: 25px;
    width: 500px;
  }
}

.line {
  margin-top: 14px;
  width: 90px;
  background: black;
  height: 10px;
  float: right;
}

.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid black;
  float: left;
}

.scoreLine{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: black;
}

.scoreElement{
  color: white;
  font-size: 18px;
  text-align: center;
  word-wrap: normal;
  width: 175px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (min-width: 1400px) {
  .scoreLine {
    margin-top: 10px;
  }
  .lowMargin {
    margin-top: 3px;
  }
}

@media (min-width: 0px) {
  .right {
    margin-right: 20px;
  }
}

@media (min-width: 1300px) {
  .scoreLine {
    margin-top: 5px;
  }
  .lowMargin {
    margin-top: 0px;
  }
}

@media (min-height: 960px) {
  .scoreLine {
    margin-top: 10px;
  }
  .lowMargin {
    margin-top: 10px;
  }
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.oneline {
  display: flex;
  word-wrap: none;
}

.spaceRight {
  margin-left: 0px;
  margin-right: 20px;
}

.spaceLeft {
  margin-left: 25px;
}

.leftTitle {
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.ariaAlert {
  font-size: 0px;
  color: transparent;
  margin: 0px;
  padding: 0px;
}

.replayBreakdown {
  font-size: 25px;
  background: lightBlue;
}

.positiveData {
  background-color: green;
}

.negativeData {
  background-color: red
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .circle {
    height: 70px;
    width: 70px;
  }
  .circleClicked {
    margin-top: 65px;
    margin-bottom: 45px;
  }
  .timer {
    font-size: 30px;
  }
  .startTimer {
    font-size: 50px;
  }
  .replay {
    font-size: 22px;
  }
  .timeEnd {
    font-size: 18px;
  }
  .prescreenText {
    font-size: 16px;
  }
  .prescreen {
    margin-left: 300px;
  }
  .scoreElement {
    font-size: 16px;
  }
  .leftTitle {
    font-size: 18px;
  }
  .replayBreakdown {
    font-size: 18px;
  }
}


@media (min-width: 1650px) {
  .circle {
    height: 75px;
    width: 75px;
  }
  .circleClicked {
    margin-top: 80px;
    margin-bottom: 55px;
  }
  .timer {
    font-size: 40px;
  }
  .startTimer {
    font-size: 60px;
  }
  .replay {
    font-size: 28px;
  }
  .timeEnd {
    font-size: 25px;
  }
  .prescreenText {
    font-size: 20px;
  }
  .scoreElement {
    font-size: 20px;
  }
  .leftTitle {
    font-size: 25px;
  }
  .replayBreakdown {
    font-size: 25px;
  }
}

@media (min-width: 600px) and (max-width: 1200px){
  .circle {
    height: 65px;
    width: 65px;
  }
  .circleClicked {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .timer {
    font-size: 30px;
  }
  .startTimer {
    font-size: 50px;
  }
  .replay {
    font-size: 20px;
  }
  .timeEnd {
    font-size: 18px;
  }
  .prescreenText {
    font-size: 16px;
  }
  .prescreen {
    margin-top: 60px;
    margin-left: 250px;
  }
  .scoreElement {
    font-size: 16px;
  }
  .leftTitle {
    font-size: 18px;
  }
  .replayBreakdown {
    font-size: 20px;
  }
}

@media (max-width: 600px){
  .circle {
    height: 30px;
    width: 30px;
  }
  .circleClicked {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .timer {
    font-size: 16px;
  }
  .startTimer {
    font-size: 20px;
  }
  .replay {
    font-size: 16px;
  }
  .timeEnd {
    font-size: 12px;
  }
  .prescreenText {
    display: none;
    font-size: 0px;
  }
  .prescreen {
    margin-top: 20px;
    margin-left: 130px;
  }
  .scoreElement {
    font-size: 12px;
  }
  .leftTitle {
    font-size: 12px;
  }
  .replayBreakdown {
    font-size: 14px;
  }
  .point {
    display: none;
  }
  .line {
    display: none;
  }
}
