.instructions__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    cursor: pointer;
}

.instructions__content {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    padding: .3rem;
    text-align: center;
    pointer-events: auto;
    z-index: 1;
}

.instructions__slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.instructions__prev, .instructions__next {
    width: 50px;
    height: 500px;
    display: inline-block;
}

.instructions__slide span {
    line-height: 500px;
}

.instructions__prev:hover, .instructions__next:hover {
    background-color: #eee;
    cursor: pointer;
}

.instructions__image {
    width: auto;
    height: 500px;
}
