.results {
  padding: 2rem 0;

	.results__title {
		font-size: 2.2rem;
		margin-bottom: 2rem;
	}

	.results__sentence {
		font-size: 1.5rem;
	}
}

.result {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-bottom: .75rem;
	max-width: 300px;
  font-size: 1.25rem;

	.result__category {
    font-weight: bold;
	}
}
