.instructionInfo {
  text-align: center;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.secondInstructionTitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .secondInstructionTitle {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.instructionsContainer {
  max-width: 800px;
  margin: 0 auto;
  display: table;
}

.instructionsItem {
  text-align: left;
  font-size: 20px;
  list-style-type: none;
}

@media (max-width: 600px) {
  .instructionsItem {
    font-size: 12px;
  }
  .secondInstructionTitle {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .instructionInfo {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 5px;
  }
}
