.tabs-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.tabs-header {
  display: flex;
  align-items: flex-start;
  margin: 0;
  /* All tabs on one line */
  flex-wrap: nowrap;
  /* Horizontal scroll if tabs exceed width */
  overflow-x: auto;
}

.tabs-header button {
  border-radius: 4px 4px 0 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 175px;
  padding: 8px 15px;
  cursor: pointer;

  /* Hide wrapped long */
  white-space: nowrap;
  overflow: hidden;
  /* Add ellispes for overflowed text */
  text-overflow: ellipsis;

  height: 50px;

  border-bottom: none;
}

.tabs-header button:not(.active) {
  /* background-image: linear-gradient(to bottom, #d7d7d7, #ededed, #ffffff); */
  background-color: #ededed;
  border-bottom: 2px black solid;
}

.tabs-header button:hover {
  background-color: #d7d7d7;
}

.tabs-header button:before,
.tabs-header button:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 16px; /* Adjust size for desired curve */
  height: 16px; /* Adjust size for desired curve */
  background-color: transparent;
  border-radius: 50%; /* Creates a circle */
  box-shadow: 0 0 0 9999px #f1f1f1; /* Matches parent background */
  /* This creates a large shadow that effectively "fills" the cut-out */
}

.tabs-header button:before {
  left: -8px; /* Position to cut out the bottom-left */
  clip-path: inset(
    50% 0 0 50%
  ); /* Clips the circle to the bottom-left quadrant */
}

.tabs-header button:after {
  right: -8px; /* Position to cut out the bottom-right */
  clip-path: inset(
    50% 50% 0 0
  ); /* Clips the circle to the bottom-right quadrant */
}

.fill-space {
  flex-grow: 1;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
}

.tabs-header button.active {
  background-color: white;
  border-bottom-color: #ffffff;
}

.tab-panels {
  margin: 0;
  background-color: rgb(255, 255, 255);
  border: 2px black solid;
  border-radius: 0 0 4px 4px;
  border-top: none;
  height: 800px;
  padding: 10px;
}
