.box {
	border: 1px solid black;
	font-size: 3.5rem;
	padding: 1rem 2rem;

	&--black {
		background-color: black;
		color: white;
	}

	&--red {
		background-color: red;
		cursor: default !important;
	}

	&--green {
		background-color: green;
		cursor: default !important;
	}

	&--locked {
		background-color: #EE8383;
		color: #EE8383;
		cursor: not-allowed;
		position: relative;

		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: "\274c";
			font-size: 80px; 
			color: #FFF;
			line-height: 100px;
			text-align: center;
		}
	}

	&--glow {
		box-shadow: 0px 0px 15px 1px rgba(255, 0, 0, 1);
	}

	&:not(.box--red):not(.box--green):not(.box--locked):hover {
		background-color: grey;
		color: white;
		cursor: pointer;
	}
	
	&:not(.box--red):not(.box--green):not(.box--locked):active {
		background-color: #333;
	}
}
