.code_editor__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  cursor: pointer;
}

.code_editor__content {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 70%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  text-align: left;
  z-index: 1;
}

.code_editor__file {
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 8px;
  margin-bottom: 5px;
}

.code_editor__buttons {
  text-align: right;
}

.code_editor__update {
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.code_editor__code {
  background-color: #333;
}

.code_editor__code textarea, .code_editor__code input {
  background-color: transparent;
  width: 100%;
  display: block;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  overflow: hidden;
  resize: none;
  border: 0;
  font-size: 1rem;
}

.code_editor__code input {
  background-color: #222;
  color: orange;
  padding: 0;
}
