.Match-Lobby {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

 th,
 td {
    border: 1px;
    text-align: center;
    padding: 8px;
    font-size: 32px;
}

th {
    background-color: white;
}

.teamMember{
    background-color: rgb(83, 83, 218);
    color: white;
    font-weight: 500;

}

.opposingMember{
    background-color: rgb(252, 162, 102);
    color: black;
    font-weight: 500;
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 28px;
}