.instructing-groups {
  margin: 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

}

th, td{
  border: 0;
  text-align: left;
}

.grey-text{
  color: #737373;
}

.table thead th{
  border-bottom: 0;
  background-color: #E5E5E5;
}