:root {
  /* Curve size */
  --tabGirth: 12px;
  /* Tabs overlapping value */
  --tabOverlap: -24px;
}

/* Container holding entire tab */
.tabs-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #EEEEEE; */
  border-radius: 8px 8px 0 0;
}

/* Header container holding all tabs */
.tabs-header {
  display: flex;
  align-items: flex-start;
  /* Horizontal scroll if tabs exceed width */
  overflow-x: auto;
  /* All tabs on one line */
  flex-wrap: nowrap;
  /* space for shadows */
  padding: 8px 8px 0 8px;
}

/* Wrapper for shadow and tab-headers overlapping */
.tab-shadow-wrapper {
  flex: 1 1 0;
  position: relative;
  display: flex;
  max-width: 200px;
  /* Overlap the previous tab */
  margin-left: var(--tabOverlap);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.4));
  z-index: 1;
  overflow: hidden;
}

.tab-shadow-wrapper.active {
  z-index: 100;
}

/* First button does not overlap with prev */
.tab-shadow-wrapper:first-child {
  margin-left: 0;
}

/* Tab header buttons */
.tabs-header button {
  flex: 1;
  max-width: none;
  border: none;
  padding: 8px 25px;
  cursor: pointer;
  /* Color of tabs */
  background-color: #eeeeee;
  /* Hide wrapped long */
  white-space: nowrap;
  /* Add ellispes for overflowed text */
  text-overflow: ellipsis;

  clip-path: shape(from bottom left,
      curve to var(--tabGirth) calc(100% - var(--tabGirth)) with var(--tabGirth) 100%,
      vline to calc(var(--tabGirth)),
      curve to calc(var(--tabGirth) * 2) 0 with var(--tabGirth) 0,
      hline to calc(100% - calc(var(--tabGirth) * 2)),
      curve to calc(100% - var(--tabGirth)) var(--tabGirth) with calc(100% - var(--tabGirth)) 0,
      vline to calc(100% - var(--tabGirth)),
      curve to 100% 100% with calc(100% - var(--tabGirth)) 100%);

  transition: transform 0.1s;
  overflow: hidden;
}

.tabs-header button:not(.active):hover {
  transform: translateY(2px);
}

.tabs-header button:not(.active):active {
  transform: translateY(4px);
}

/* Hover overlay for inactive tabs */
.tabs-header button:not(.active):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 48px);
  height: calc(100% - 12px);
  /* Color of inner rectangle in-active tabs */
  background-color: #dddddd;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: -1;
  border-radius: 8px;
}

.tabs-header button:not(.active):hover::before {
  opacity: 1;
  visibility: visible;
}

.tabs-header button:not(.active) tab-label {
  position: relative;
  z-index: 1;
  color: black;
}

/* Active tab precise styling */
.tab-shadow-wrapper.active button {
  background-color: white;
}

.tabs-header button.active {
  clip-path: shape(from bottom left,
      curve to 12px calc(100% - 12px) with 12px 100%,
      vline to 12px,
      curve to 24px 0 with 12px 0,
      hline to calc(100% - 24px),
      curve to calc(100% - 12px) 12px with calc(100% - 12px) 0,
      vline to calc(100% - 12px),
      curve to 100% 100% with calc(100% - 12px) 100%);
}

.tab-panels {
  position: relative;
  background: white;
  /* Blend the line between active tab and panel */
  margin-top: -1px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  padding: 25px 30px 25px 25px;
  height: calc(58vh);
  overflow-y: auto;
  border-top: 10px solid white;
  border: solid white;
  border-width: 10px 0;
}