.playthrough {
  padding: 2rem 0;
}

.playthrough__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.playthrough__content {
  font-size: 1.15rem;
}

.playthrough__content p {
  margin-bottom: 1.5rem;
}
