.stats {
  background-color: #333333;
  width: 100%;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}

.stats__container {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  font-size: 1.875rem;
  margin: 2rem auto;
}

.stats__category, .stats__result {
  margin: 0 0 .5rem 0;
}

.stats__result {
  font-weight: 300;
}

.stats__timer {
  background-color: white;
}

.stats__countdown {
  background-color: #6BFF89;
  width: 100%;
  height: 1rem;
  transition: width ease-in;
}
