@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins";

@use "vendors/reset";

@use "base/base";
@use "base/helpers";

@use "components/App";
@use "components/profilePage/profileHeader";
@use "components/profilePage/profile";
@use "components/profilePage/groupAssignedLabs";
@use "components/profilePage/instructingGroups";

@use "components/CodeEditor";
@use "components/Instructions";
@use "components/Playthrough";
@use "components/Popup";
@use "components/SoundOption";

@use "components/Exercise";
@use "components/Box";
@use "components/HintBox";
@use "components/Results";
@use "components/Stats";
@use "components/Form";
@use "components/KnowledgeTest";

@use "pages/Supplementary";
@use "pages/CaseStudy";
@use "pages/quiz";
@use "pages/CognitiveInformation";
@use "pages/Guidance";

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibri";
  src:
    url("../fonts/calibri.ttf") format("woff2"),
    url("../fonts/calibri.ttf") format("woff"),
    url("../fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}
