.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.button {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25rem;
	padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin: 1rem;
  background-color: #f5f5f5;
  transition: background-color 200ms ease-in-out;
	cursor: pointer;
  
  &:hover {
    background-color: #ebebeb;
	}
	
	&:active {
		background-color: #ddd;
	}

	&--green {
		background-color: #6BFF89;

		&:hover {
			background-color: #5eec7a;
		}

		&:active {
			background-color: #3ecd5b;
		}
	}

	&--block {
		border-radius: 0;
		width: 100%;
		margin: 1rem 0 0 0;
	}
}

@keyframes MoveUpDown {
	0%, 100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-5px);
	}
}
